<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Book Shelf</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <div class="text-center mx-auto" style="display:inline-block" >
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="" selected="selected">Action</a>
                            <a class="dropdown-item" href="">Romance</a>
                            <a class="dropdown-item" href="">Philosophy</a>
                            <a class="dropdown-item" href="">Thriller</a>
                            
                          </div>
                        </li>
                    </div>
                      </ul>
                      <div class="form-inline my-2 my-lg-0" >
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchname">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchBook()">Search</button>
                      </div>
                    </div>
            
                  </nav>
                  <div class="card-deck mx-auto">
                    
                      <div *ngFor='let index of CardsNumbers;let i = index'>
                        <div class="flip-card" id="{{'card'+i}}">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                          
                        <mat-card class="example-card " >
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        </mat-card>
                    </div>
                    <div class="flip-card-back">
                      <mat-card class="example-card">
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                      <mat-card-actions >
                        <!-- <button mat-button><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></button> -->
                        <button mat-button><span class="fa fa-share-alt fa-lg mm" aria-hidden="true"></span></button>
                        <button mat-button class="def"><span class="fa fa-share-alt fa-lg" aria-hidden="true"></span></button>
                        <button mat-button (click)="clickEvent(i)" class="abc"><span class="far fa-heart fa-lg" id="{{'action'+i}}"  [style.color]="'black'" aria-hidden="true"></span></button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </div>
                    
                   
                  </div>
                  </div>




                  
    </body>
</html>