

<div class='container'>
                
        <div class="flip-card"  >
           <div class="flip-card-inner">
              <div class="flip-card-front">
                              
                      <img src="./assets/book.jfif" alt="Card image"  >
                      
              </div>
              <div class="flip-card-back" >
                      <br>
                      <p>Some example text some example text.
                       Some example text some example text. 
                      Some example text some example text. 
                      Some example text some example text.</p>
             </div>         
</div>
<router-outlet></router-outlet>

