/* h1{
    text-align: center;
}
img{
    opacity: 0.5;
    width: 100%;
    height: 19rem;
}
.container{
    padding-top: 8%;
}
.flip-card{

    margin: auto;
    width: 300px;
    height: 300px;
    perspective: 1000px;


}
.flip-card-inner {
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    /* box-shadow: 5px 10px rgba(0, 0, 0, 0.3); */
  /* }
  
  .flip-card-front, .flip-card-back {
    position: absolute ;

   backface-visibility: hidden;
  }

   .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    color: black;
    transform: rotateY(180deg);
  } */ 
 /* {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  } */

  /* div {
    transition: all linear 0.5s;
    background-color: lightblue;
    height: 100px;
    width: 100%;

  }
   */
  /* .ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top:-200px;
    left: 200px;
  } */
  h1{
    text-align: center;
}
img{
    opacity: 0.5;
    width: 100%;
    height: 19rem;
}
.container{
    padding-top: 8%;
}
.flip-card{

    margin: auto;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    

}
.flip-card-inner {
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    /* box-shadow: 5px 10px rgba(0, 0, 0, 0.3); */
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    /* box-shadow: 5px 10px rgba(0, 0, 0, 0.3); */
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute ;

   backface-visibility: hidden;
  }

   .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    color: black;
    transform: rotateY(180deg);
  }
