
body{
  background-color:rgba(0,0,0,0);
}
.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    background-color:rgba(0,0,0,0);
  }
  
  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* The triangle form is achieved by a CSS hack */
  .login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #28d;
  }
  
  .login-header {
    background: rgba(0, 0, 0,0.6);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .login-container {
    background-color: #ebebeb;
    padding: 12px;
  }
  
  /* Every row inside .login-container is defined with p tags */
  .login p {
    padding: 12px;
  }
  
  .login input,button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    background: rgba(0, 0, 0,0.8);
    color: white;
  }
  
  .login input[type="email"],
  .login input[type="password"],
  .login input[type="text"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  /* Text fields' focus effect */
  .login input[type="email"]:focus,
  .login input[type="password"]:focus,
  .login input[type="text"]:focus{
    border-color: #888;
  }
  
  .login input[type="submit"] {
    background: black;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .login button[type="submit"]:hover {
    background: rgb(75, 143, 48);
  }
  
  /* Buttons' focus effect */
  .login button[type="submit"]:focus {
    border-color:black;
  }
  
  .has-error input[type="email"],
  .has-error input[type="password"],
  .has-error input[type="text"] {
      border-color: rgb(216, 12, 12);
      color: rgb(230, 14, 14);
  }
  #login{
    color: rgb(75, 143, 48);
  }